@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --lightviolet: rgb(146, 105, 193);
  --cyangreen: rgb(93, 175, 159);
  --brightcyangreen: rgb(144, 249, 255);
  --gray: rgb(109, 109, 109);
  --black: rgb(50, 50, 50);
  --white: rgb(255, 255, 255);
  --lightgray: rgb(235, 235, 235);
}

body {
  min-height: 100vh;
  min-width: 100%;
  margin: 0 auto;
  background: var(--black);
  font-family: "Montserrat", serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--black);
}

.wrapper {
  background: white;
  overflow: clip;
  /* padding: 3em 0; */
  width: 100%;
}

.header {
  /* height: 4em; */
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 1.3rem;
}
.logo {
  position: relative;
  margin-right: 1em;
}
.logo1,
.logo2 {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 100%;
  position: absolute;
}

.logo1 {
  background: var(--cyangreen);

  bottom: 0px;
  left: 0px;
}

.logo2 {
  background: var(--lightviolet);

  right: 0px;
  top: 0px;
}

.hero-section {
  position: relative;
  display: grid;
}

.image-hero:first-child {
  position: absolute;
  left: -1em;
}

.image-hero:last-child {
  position: absolute;
  right: -1em;
}

.image-hero img {
  width: 100%;
  overflow: clip;
}

.hero-mid {
  text-align: center;
}

.hero-mid .heading2 {
  margin-bottom: 0.6em;
  line-height: 1em;

  font-weight: 700;
  text-wrap: balance;
}

.hero-mid .text {
  font-weight: 550;
  color: var(--gray);
  text-wrap: balance;
  margin-bottom: 2em;
}

.button-1 {
  margin-right: 0.5em;
  background: var(--cyangreen);
}

.button-2 {
  background: var(--lightviolet);
}

.hero-button {
  padding: 1em 1.5em;
  border-radius: 2em;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth effect */
}

.hero-button:hover {
  /* background-color: rgba(93, 175, 159, 0.7); */
  background-image: linear-gradient(
    43deg,
    rgba(93, 175, 159, 1),
    rgba(146, 105, 193, 1)
  );
  transform: scale(1.1); /* Slight zoom effect */
}

.hero-button a {
  color: var(--white);
}

.hero-button span {
  color: var(--brightcyangreen);
}

.paging {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3.5em;
}

.line {
  border: 1px solid var(--lightgray);
  height: 5em;
}
.page-num {
  border: 1px solid var(--lightgray);
  /* margin: 0.5em; */
  width: 3em;
  height: 3em;
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.photoes {
  display: flex;
  justify-content: center;

  margin-bottom: 3.5em;
}

.photo {
  height: auto;
  overflow: clip;
}

.photo img {
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content-h4 {
  font-weight: 800;
  color: var(--cyangreen);
  letter-spacing: 0.25em;
  margin-bottom: 1.5em;
}

.content-h3 {
  font-weight: 800;
  /* text-wrap: balance; */
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 1em;
}

.content .text {
  max-width: 33em;
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--gray);

  line-height: 1.5em;
  font-weight: 500;
  margin-bottom: 3.5em;
}

.page-two {
  margin-bottom: -1.5em;
  background: var(--white);
  border-radius: 3em;
}

.footer {
  background-image: linear-gradient(
      rgba(93, 175, 159, 0.7),
      rgba(93, 175, 159, 0.7)
    ),
    url("../assets/desktop/image-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-left {
  color: var(--white);
}

.footer-mid {
  color: var(--white);
  display: flex;
  justify-content: flex-start;
}

.footer-right {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

@media (min-width: 320px) {
  .header {
    margin: 1em 0 1.5em;
  }

  .hero-section {
    grid-template-columns: repeat (2, 1fr);
    grid-template-rows: repeat(2, 3em);
    margin-bottom: 26em;
  }

  .image-hero {
    width: 10.6em;
  }

  .image-hero:first-child {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .image-hero:last-child {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .hero-mid {
    margin-top: 8em;
    grid-column: 2/3;
    grid-row: 2/3;
    width: 20em;
  }

  .hero-mid .heading2 {
    font-size: 2em;
  }

  .hero-mid .text {
    font-size: 0.8rem;
    line-height: 1.8em;
  }

  .buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .button-1,
  .button-2 {
    font-size: 1rem;
  }

  .photoes {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    /* flex-direction: column; */
  }

  .photo {
    width: 8rem;
    border-radius: 0.3em;
  }

  .content-h4 {
    font-size: 0.7rem;
  }

  .content-h3 {
    font-size: 1.7rem;
    max-width: 12em;
    text-wrap: balance;
  }

  .content .text {
    font-size: 0.8rem;
    width: 22em;
    line-height: 1.8em;
  }

  .footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2em;
    padding: 3em 0;
  }

  .footer-left {
    font-size: 1.7rem;
    font-weight: 700;
    width: 10em;
  }

  .footer-mid {
    font-size: 0.8em;
    width: 22em;
    line-height: 1.8em;
  }
}

@media (min-width: 375px) {
  .image-hero {
    width: 12.2em;
  }

  .hero-section {
    margin-bottom: 21em;
  }

  .hero-mid {
    width: 20em;
  }
}

@media (min-width: 425px) {
  .hero-section {
    grid-template-rows: repeat(2, 5em);
    margin-bottom: 15em;
  }

  .image-hero {
    width: 13.6em;
  }

  .hero-mid {
    margin-top: 7em;
    grid-column: 2/3;
    grid-row: 2/3;
    width: 25em;
  }

  .hero-mid .heading2 {
    font-size: 2rem;
  }

  .buttons {
    display: block;
  }
  .button-1,
  .button-2 {
    font-size: 0.8rem;
  }

  .content-h4 {
    font-size: 0.65rem;
  }

  .content-h3 {
    font-size: 1.5rem;
    max-width: 12em;
  }

  .photoes {
    gap: 0.8em;
  }

  .photoes .photo {
    width: 5.5em;
    border-radius: 0.5em;
  }

  .footer-left {
    font-size: 1.7rem;
    font-weight: 700;

    width: 10em;
  }

  .footer-mid {
    font-size: 0.8em;
    width: 30em;
  }
}

@media (min-width: 768px) {
  .hero-section {
    grid-template-columns: repeat (2, 1fr);
    grid-template-rows: repeat(2, 16em);
    margin-bottom: 5em;
  }

  .image-hero {
    width: 23.5em;
  }

  .image-hero:first-child {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .image-hero:last-child {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .hero-mid {
    margin-top: 3em;
    grid-column: 2/3;
    grid-row: 2/3;
    width: 30em;
  }

  .hero-mid .heading2 {
    font-size: 2.5rem;
  }

  .hero-mid .text {
    font-size: 1rem;
  }

  .button-1,
  .button-2 {
    font-size: 1rem;
  }

  .content-h4 {
    font-size: 0.85rem;
  }

  .content-h3 {
    font-size: 2rem;
    max-width: 12em;
  }

  .photoes {
    gap: 1.5em;
  }

  .photoes .photo {
    width: 10em;
    border-radius: 0.5em;
  }

  .footer {
    height: 15em;
    padding: 2em;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-left {
    grid-column: 1/2;
    font-size: 1.3rem;
    font-weight: 700;
    width: 9em;
    text-align: left;
  }

  .footer-mid {
    font-size: 0.7em;
    text-align: left;
    grid-column: 2/3;
    font-weight: 500;
    line-height: 1.3;
    width: 22em;
  }

  .footer-right {
    grid-column: 3/4;
  }
}

@media (min-width: 1024px) {
  .header {
    margin: 3em 0;
  }

  .hero-section {
    /* grid-template-columns: repeat (3, 1fr); */
    grid-template-rows: repeat(1, auto);
  }

  .image-hero {
    width: 20em;
  }

  .image-hero:first-child {
    grid-column: 1/2;
  }

  .hero-mid {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 22em;
  }

  .hero-mid .heading2 {
    font-size: 3rem;
  }

  .image-hero:last-child {
    grid-column: 3/4;
  }

  .photoes .photo {
    width: 12em;
    border-radius: 0.5em;
  }

  .footer-left {
    font-size: 1.8em;
  }
  .footer-mid {
    font-size: 0.7em;
    padding-left: 3em;
  }
}

@media (min-width: 1440px) {
  .hero-mid {
    width: 29em;
  }

  .image-hero {
    width: 24em;
  }

  .hero-mid .heading2 {
    font-size: 4rem;
  }

  .footer {
    height: 20em;
    padding: 5em;
  }

  .footer-left {
    font-size: 2rem;
    font-weight: 800;
    width: 80%;
  }

  .footer-mid {
    font-weight: 600;
    line-height: 1.5;
  }
}
