@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --DarkCyan: #3c8067;
  --Cream: #f2ebe3;
  --VeryDarkBlue: hsl(212, 21%, 14%);
  --DarkGrayishBlue: #6c7289;
  --White: #ffffff;
  --border-radius-large: 24px;
  --border-radius-medium: 12px;
  --border-radius-small: 8px;
}

body {
  background: var(--Cream);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: "Montserrat";
  font-size: 13px;
  color: var(--DarkGrayishBlue);
  font-weight: 500;
}

main {
  display: flex;
  justify-content: center;
  max-width: 900px;
  width: 100%;
}

.product-card {
  background: var(--White);
  display: flex;

  width: 600px;
  border-radius: var(--border-radius-medium);
  overflow: hidden;
  margin-bottom: 13px;
}

.img-wrap {
  min-width: 300px;
}

img {
  width: 100%;
  height: 100%;
}

section {
  display: flex;
  justify-content: flex-start;
}

.content-column {
  min-width: 280px;
  padding: 2rem;
  position: relative;
}

.category {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.content-column h1 {
  font-family: "Fraunces";
  font-size: 32px;
  font-weight: 900;
  color: var(--VeryDarkBlue);
  line-height: 1;
  margin-top: 20px;
}

.content-column .text {
  font-size: 14px;
  margin-top: 20px;
  line-height: 2;
}

.price {
  display: flex;
  margin-top: 20px;
  justify-content: left;
  gap: 30px;
  align-items: center;
}

.discounted-price {
  font-family: "Fraunces";
  font-size: 28px;
  color: var(--DarkCyan);
  font-weight: 800;
}

button {
  display: flex;
  width: 100%;
  background: var(--DarkCyan);
  color: var(--White);
  margin-top: 32px;
  padding: 10px 15px;
  border-radius: var(--border-radius-small);
  justify-content: center;
}

.cart-img {
  width: 13px;
  margin-right: 6px;
}

.add-to-cart:hover {
  background: var(--VeryDarkBlue);
  transition: background-color 0.3s ease;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media all and (max-width: 425px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-card {
    display: flex;
    flex-direction: column;
    max-width: 375px;
    border-radius: var(--border-radius-small);
    overflow: hidden;
    margin: 1rem;
  }

  .img-wrap {
    min-width: 375px;
    height: 180px;
  }

  .img-wrap img {
    width: 100%;
    object-fit: cover;
  }

  section {
    background: var(--White);
  }

  .content-column .text {
    font-size: 12px;
    margin-top: 20px;
    line-height: 1.5;
  }

  .content-column h1 {
    font-size: 24px;
  }

  button {
    margin-top: 20px;
  }
}
