@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*reset*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  /* Primary */

  --Red: rgb(234, 83, 83);
  --Cyan: rgb(69, 211, 211);
  --Orange: rgb(252, 175, 74);
  --Blue: rgb(84, 158, 242);

  /* Neutral */

  --VeryDarkBlue: rgb(76, 78, 97);
  --GrayishBlue: rgb(163, 165, 174);
  --VeryLightGray: rgb(250, 250, 250);
}

body {
  background: var(--VeryLightGray);
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  font-size: 18px;
  font-family: "Poppins";
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

main h2 {
  font-size: 34px;
  font-weight: 200;
  color: var(--GrayishBlue);
}

main h1 {
  font-size: 34px;
  font-weight: 600;
  color: var(--VeryDarkBlue);
}

.text {
  color: var(--GrayishBlue);
  margin-top: 12px;
}

header {
  width: 600px;
  display: flex;
  flex-direction: column;

  text-align: center;
}

.card h1 {
  font-size: 16px;
}

.card .text {
  font-size: 14px;
}

.card-middle {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  flex-direction: column;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 40px auto;
  max-width: 1200px;
}

.cards .card:nth-child(2),
.cards .card:nth-child(3) {
  display: flex;
  flex-direction: column;
}

.card {
  flex: 1;
  min-width: 200px;
  max-width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  align-self: flex-end;
  width: 60px;
  height: 60px;
}

.card:first-child {
  border-top: 3px solid var(--Cyan);
}

.card-middle .card:nth-child(1) {
  border-top: 3px solid var(--Red);
}

.card-middle .card:nth-child(2) {
  border-top: 3px solid var(--Orange);
}

.card:last-child {
  border-top: 3px solid var(--Blue);
}

@media (max-width: 768px) {
  header {
    width: 100%;
    padding: 0 20px;
  }

  .cards {
    gap: 20px;
  }

  .card {
    height: auto;

    padding: 15px;
  }

  .card img {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 425px) {
  body {
    padding: 0 10px;
  }

  .cards {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }

  footer .attribution {
    font-size: 12px;
  }
}
